In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

# DF for flights

In [2]:
df = pd.read_csv('/home/emile/Documents/data_bootcamp/w6/df_flights_orig.csv')

In [3]:
df.drop(['no_name', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'cancellation_code'], axis=1, inplace=True)

In [4]:
df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-01,WN,WN,WN,1997,WN,N733SA,1997,13232,MDW,"Chicago, IL",13198,MCI,"Kansas City, MO",1920,2003.0,43.0,13.0,2016.0,2122.0,4.0,2050,2126.0,36.0,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0
1,2018-01-01,WN,WN,WN,181,WN,N8633A,181,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",855,947.0,52.0,8.0,955.0,1306.0,5.0,1230,1311.0,41.0,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0
2,2018-01-01,WN,WN,WN,185,WN,N8625A,185,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1250,1307.0,17.0,12.0,1319.0,1629.0,5.0,1625,1634.0,9.0,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,WN,WN,WN,403,WN,N564WN,403,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1615,1617.0,2.0,11.0,1628.0,1935.0,5.0,1945,1940.0,-5.0,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,WN,WN,WN,1229,WN,N8305E,1229,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",700,719.0,19.0,16.0,735.0,1043.0,6.0,1035,1049.0,14.0,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

fl_date                    0
mkt_unique_carrier         0
branded_code_share         0
mkt_carrier                0
mkt_carrier_fl_num         0
op_unique_carrier          0
tail_num                 131
op_carrier_fl_num          0
origin_airport_id          0
origin                     0
origin_city_name           0
dest_airport_id            0
dest                       0
dest_city_name             0
crs_dep_time               0
dep_time                 517
dep_delay                535
taxi_out                 562
wheels_off               562
wheels_on                576
taxi_in                  576
crs_arr_time               0
arr_time                 549
arr_delay                622
cancelled                  0
diverted                   0
dup                        0
crs_elapsed_time           0
actual_elapsed_time      612
air_time                 639
flights                    0
distance                   0
carrier_delay          25240
weather_delay          25240
nas_delay              25240
security_delay         25240
late_aircraft_delay    25240
dtype: int64

In [7]:
df['tail_num']=df['tail_num'].fillna('Unknown')    # add unknown to tail numbers if not there

In [8]:
dep_nan = df['dep_time'].isnull()
df[dep_nan]

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
1249,2018-08-01,AA,AA_CODESHARE,AA,3623,MQ,N853AE,3623,11433,DTW,"Detroit, MI",12953,LGA,"New York, NY",1844,NaN,NaN,NaN,NaN,NaN,NaN,2044,NaN,NaN,1.0,C,0.0,N,120.0,NaN,NaN,1.0,502.0,NaN,NaN,NaN,NaN,NaN
1264,2018-08-01,B6,B6,B6,654,B6,N355JB,654,11278,DCA,"Washington, DC",10721,BOS,"Boston, MA",1156,NaN,NaN,NaN,NaN,NaN,NaN,1325,NaN,NaN,1.0,A,0.0,N,89.0,NaN,NaN,1.0,399.0,NaN,NaN,NaN,NaN,NaN
1391,2018-08-02,WN,WN,WN,785,WN,N916WN,785,12191,HOU,"Houston, TX",13495,MSY,"New Orleans, LA",635,NaN,NaN,NaN,NaN,NaN,NaN,740,NaN,NaN,1.0,A,0.0,N,65.0,NaN,NaN,1.0,302.0,NaN,NaN,NaN,NaN,NaN
1427,2018-08-03,UA,UA_CODESHARE,UA,4202,EV,N12564,4202,11618,EWR,"Newark, NJ",15016,STL,"St. Louis, MO",1620,NaN,NaN,NaN,NaN,NaN,NaN,1813,NaN,NaN,1.0,C,0.0,N,173.0,NaN,NaN,1.0,872.0,NaN,NaN,NaN,NaN,NaN
1432,2018-08-03,UA,UA_CODESHARE,UA,4208,EV,N12569,4208,11618,EWR,"Newark, NJ",15016,STL,"St. Louis, MO",1450,NaN,NaN,NaN,NaN,NaN,NaN,1643,NaN,NaN,1.0,C,0.0,N,173.0,NaN,NaN,1.0,872.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30123,2019-07-11,AA,AA_CODESHARE,AA,3944,MQ,N815AE,3944,14952,SPI,"Springfield, IL",11298,DFW,"Dallas/Fort Worth, TX",545,NaN,NaN,NaN,NaN,NaN,NaN,749,NaN,NaN,1.0,B,0.0,N,124.0,NaN,NaN,1.0,630.0,NaN,NaN,NaN,NaN,NaN
30145,2019-07-12,WN,WN,WN,2218,WN,N299WN,2218,12892,LAX,"Los Angeles, CA",14831,SJC,"San Jose, CA",1520,NaN,NaN,NaN,NaN,NaN,NaN,1630,NaN,NaN,1.0,A,0.0,N,70.0,NaN,NaN,1.0,308.0,NaN,NaN,NaN,NaN,NaN
30478,2019-07-20,AA,AA_CODESHARE,AA,5130,OH,N705PS,5130,12945,LEX,"Lexington, KY",11057,CLT,"Charlotte, NC",515,NaN,NaN,NaN,NaN,NaN,NaN,638,NaN,NaN,1.0,B,0.0,N,83.0,NaN,NaN,1.0,281.0,NaN,NaN,NaN,NaN,NaN
30811,2019-07-27,UA,UA_CODESHARE,UA,5109,OO,N954SW,5109,11076,CMX,"Hancock/Houghton, MI",13930,ORD,"Chicago, IL",610,NaN,NaN,NaN,NaN,NaN,NaN,643,NaN,NaN,1.0,B,0.0,N,93.0,NaN,NaN,1.0,360.0,NaN,NaN,NaN,NaN,NaN
31009,2019-07-31,DL,DL_CODESHARE,DL,3281,9E,N935XJ,3281,12478,JFK,"New York, NY",11057,CLT,"Charlotte, NC",1940,NaN,NaN,NaN,NaN,NaN,NaN,2208,NaN,NaN,1.0,C,0.0,N,148.0,NaN,NaN,1.0,541.0,NaN,NaN,NaN,NaN,NaN

In [9]:
for index, row in df.iterrows():  # get rid of cancelled flights
    if row['cancelled'] == 1.0:
        df.drop(index=index, inplace=True)

In [10]:
arr_time = df['arr_time'].isnull()   # no arrival time and not cancelled but there's a depart time. crashed?
df[arr_time]

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
4084,2018-11-05,AA,AA_CODESHARE,AA,4880,PT,N639AE,4880,14576,ROC,"Rochester, NY",14100,PHL,"Philadelphia, PA",558,545.0,-13.0,19.0,604.0,NaN,NaN,721,NaN,NaN,0.0,NaN,1.0,N,83.0,NaN,NaN,1.0,257.0,NaN,NaN,NaN,NaN,NaN
6755,2018-03-02,B6,B6,B6,1196,B6,N594JB,1196,11697,FLL,"Fort Lauderdale, FL",14307,PVD,"Providence, RI",1100,1140.0,40.0,14.0,1154.0,NaN,NaN,1357,NaN,NaN,0.0,NaN,1.0,N,177.0,NaN,NaN,1.0,1188.0,NaN,NaN,NaN,NaN,NaN
13241,2019-11-26,DL,DL_CODESHARE,DL,4635,OO,N284SY,4635,14869,SLC,"Salt Lake City, UT",15041,SUN,"Sun Valley/Hailey/Ketchum, ID",2159,2222.0,23.0,17.0,2239.0,NaN,NaN,2259,NaN,NaN,0.0,NaN,1.0,N,60.0,NaN,NaN,1.0,222.0,NaN,NaN,NaN,NaN,NaN
13610,2018-12-09,AA,AA_CODESHARE,AA,3528,MQ,N698CB,3528,11298,DFW,"Dallas/Fort Worth, TX",14588,ROW,"Roswell, NM",1610,1643.0,33.0,20.0,1703.0,NaN,NaN,1640,NaN,NaN,0.0,NaN,1.0,N,90.0,NaN,NaN,1.0,435.0,NaN,NaN,NaN,NaN,NaN
17476,2019-09-17,WN,WN,WN,2574,WN,N743SW,2574,15016,STL,"St. Louis, MO",10397,ATL,"Atlanta, GA",1850,1845.0,-5.0,7.0,1852.0,NaN,NaN,2125,NaN,NaN,0.0,NaN,1.0,N,95.0,NaN,NaN,1.0,484.0,NaN,NaN,NaN,NaN,NaN
18144,2019-01-05,AS,AS_CODESHARE,AS,2038,QX,N639QX,2038,14908,SNA,"Santa Ana, CA",14771,SFO,"San Francisco, CA",1830,1914.0,44.0,11.0,1925.0,NaN,NaN,1955,NaN,NaN,0.0,NaN,1.0,N,85.0,NaN,NaN,1.0,372.0,NaN,NaN,NaN,NaN,NaN
21479,2018-02-22,UA,UA,UA,878,UA,N30401,878,12266,IAH,"Houston, TX",13487,MSP,"Minneapolis, MN",1940,2109.0,89.0,24.0,2133.0,NaN,NaN,2236,NaN,NaN,0.0,NaN,1.0,N,176.0,NaN,NaN,1.0,1034.0,NaN,NaN,NaN,NaN,NaN
25111,2018-07-21,AA,AA,AA,2003,AA,N9017P,2003,15027,STX,"Christiansted, VI",11057,CLT,"Charlotte, NC",1617,2055.0,278.0,15.0,2110.0,NaN,NaN,2018,NaN,NaN,0.0,NaN,1.0,N,241.0,NaN,NaN,1.0,1562.0,NaN,NaN,NaN,NaN,NaN
27638,2019-04-19,WN,WN,WN,1014,WN,N567WN,1014,10397,ATL,"Atlanta, GA",11697,FLL,"Fort Lauderdale, FL",1715,1744.0,29.0,39.0,1823.0,NaN,NaN,1915,NaN,NaN,0.0,NaN,1.0,N,120.0,NaN,NaN,1.0,581.0,NaN,NaN,NaN,NaN,NaN
28247,2019-03-01,DL,DL_CODESHARE,DL,5146,9E,N8896A,5146,10397,ATL,"Atlanta, GA",14814,SHV,"Shreveport, LA",1959,2112.0,73.0,53.0,2205.0,NaN,NaN,2101,NaN,NaN,0.0,NaN,1.0,N,122.0,NaN,NaN,1.0,551.0,NaN,NaN,NaN,NaN,NaN
28633,2019-03-13,UA,UA_CODESHARE,UA,5895,OO,N786SK,5895,12892,LAX,"Los Angeles, CA",10372,ASE,"Aspen, CO",947,939.0,-8.0,22.0,1001.0,NaN,NaN,1304,NaN,NaN,0.0,NaN,1.0,N,137.0,NaN,NaN,1.0,737.0,NaN,NaN,NaN,NaN,NaN

In [11]:
df['arr_delay'] = df['arr_delay'].fillna('none')
for index, row in df.iterrows():   # drop rows missing target variable
    if row['arr_delay'] == 'none':
        df.drop(index=index, inplace=True)

In [18]:
df['wheels_off'] = df['wheels_off'].fillna('none')
for index, row in df.iterrows():   # dropping rows missing datetime information
    if row['wheels_off'] == 'none':
        df.drop(index=index, inplace=True)

In [27]:
df.isnull().sum()

fl_date                    0
mkt_unique_carrier         0
branded_code_share         0
mkt_carrier                0
mkt_carrier_fl_num         0
op_unique_carrier          0
tail_num                   0
op_carrier_fl_num          0
origin_airport_id          0
origin                     0
origin_city_name           0
dest_airport_id            0
dest                       0
dest_city_name             0
crs_dep_time               0
dep_time                   0
dep_delay                  0
taxi_out                   0
wheels_off                 0
wheels_on                  0
taxi_in                    0
crs_arr_time               0
arr_time                   0
arr_delay                  0
cancelled                  0
diverted                   0
dup                        0
crs_elapsed_time           0
actual_elapsed_time        0
air_time                   0
flights                    0
distance                   0
carrier_delay          24598
weather_delay          24598
nas_delay              24598
security_delay         24598
late_aircraft_delay    24598
dtype: int64

In [24]:
df['dep_delay'].fillna(0, inplace=True)   # no difference in scheduled and departure time, so 0 delay

In [30]:
df['carrier_delay'] = df['carrier_delay'].fillna(0.0)
df['weather_delay'] = df['weather_delay'].fillna(0.0)
df['nas_delay'] = df['nas_delay'].fillna(0.0)
df['security_delay'] = df['security_delay'].fillna(0.0)
df['late_aircraft_delay'] = df['late_aircraft_delay'].fillna(0.0)

In [31]:
df.isnull().sum()

fl_date                0
mkt_unique_carrier     0
branded_code_share     0
mkt_carrier            0
mkt_carrier_fl_num     0
op_unique_carrier      0
tail_num               0
op_carrier_fl_num      0
origin_airport_id      0
origin                 0
origin_city_name       0
dest_airport_id        0
dest                   0
dest_city_name         0
crs_dep_time           0
dep_time               0
dep_delay              0
taxi_out               0
wheels_off             0
wheels_on              0
taxi_in                0
crs_arr_time           0
arr_time               0
arr_delay              0
cancelled              0
diverted               0
dup                    0
crs_elapsed_time       0
actual_elapsed_time    0
air_time               0
flights                0
distance               0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64

In [34]:
df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-01,WN,WN,WN,1997,WN,N733SA,1997,13232,MDW,"Chicago, IL",13198,MCI,"Kansas City, MO",1920,2003.0,43.0,13.0,2016,2122.0,4.0,2050,2126.0,36,0.0,0.0,N,90.0,83.0,66.0,1.0,405.0,10.0,0.0,0.0,0.0,26.0
1,2018-01-01,WN,WN,WN,181,WN,N8633A,181,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",855,947.0,52.0,8.0,955,1306.0,5.0,1230,1311.0,41,0.0,0.0,N,155.0,144.0,131.0,1.0,990.0,11.0,0.0,0.0,0.0,30.0
2,2018-01-01,WN,WN,WN,185,WN,N8625A,185,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1250,1307.0,17.0,12.0,1319,1629.0,5.0,1625,1634.0,9,0.0,0.0,N,155.0,147.0,130.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01,WN,WN,WN,403,WN,N564WN,403,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",1615,1617.0,2.0,11.0,1628,1935.0,5.0,1945,1940.0,-5,0.0,0.0,N,150.0,143.0,127.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01,WN,WN,WN,1229,WN,N8305E,1229,13232,MDW,"Chicago, IL",13204,MCO,"Orlando, FL",700,719.0,19.0,16.0,735,1043.0,6.0,1035,1049.0,14,0.0,0.0,N,155.0,150.0,128.0,1.0,990.0,0.0,0.0,0.0,0.0,0.0

In [35]:
df.to_csv(r'./df_cleaned.csv', index = False)

# DF for fuel comsumption

In [3]:
df_fuel = pd.read_csv('/home/emile/Documents/data_bootcamp/w6/fuel_consumption_orig.csv')

In [4]:
df_fuel.head()

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,sint_gallons,ts_gallons,tdomt_gallons,tint_gallons,total_gallons,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,NaN,0JQ,NaN,1,0.0,0.0,0.0,0.0,0.0,0.0,3000.0,0.0,3000.0,0,0.0,0.0,0.0,0.0,0,5100,0.0,5100,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,0.0,0.0,163052.0,47060.0,210112.0,0,0.0,0.0,0.0,0.0,0,396216,140239.0,536455,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,0.0,260848.0,284362.0,0.0,284362.0,522405,0.0,0.0,0.0,0.0,522405,569497,0.0,569497,2016

In [5]:
df_fuel.isnull().sum()

month                0
airline_id           1
unique_carrier       1
carrier              0
carrier_name         1
carrier_group_new    0
sdomt_gallons        1
satl_gallons         1
spac_gallons         1
slat_gallons         2
sint_gallons         1
ts_gallons           1
tdomt_gallons        3
tint_gallons         1
total_gallons        6
sdomt_cost           0
satl_cost            1
spac_cost            1
slat_cost            1
sint_cost            1
ts_cost              0
tdomt_cost           0
tint_cost            1
total_cost           0
year                 0
dtype: int64

Very few missing, might just drop individual rows with missing

In [10]:
len(df_fuel)

3035

In [12]:
df_fuel.dropna(inplace=True)

In [13]:
len(df_fuel) # dropped 10 rows out of 3035

3025

In [14]:
df_fuel.isnull().sum()

month                0
airline_id           0
unique_carrier       0
carrier              0
carrier_name         0
carrier_group_new    0
sdomt_gallons        0
satl_gallons         0
spac_gallons         0
slat_gallons         0
sint_gallons         0
ts_gallons           0
tdomt_gallons        0
tint_gallons         0
total_gallons        0
sdomt_cost           0
satl_cost            0
spac_cost            0
slat_cost            0
sint_cost            0
ts_cost              0
tdomt_cost           0
tint_cost            0
total_cost           0
year                 0
dtype: int64

In [15]:
df_fuel.to_csv(r'./df_fuel_cleaned.csv', index = False)

# DF for passengers

In [6]:
df_passenger = pd.read_csv('/home/emile/Documents/data_bootcamp/w6/passengers_orig.csv')

In [7]:
df_passenger.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0,1,3300,9,0,0,0,104,46,40,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,10551,30113,BET,"Bethel, AK",US,United States,4,416,1,2019,10,1,L,DU
1,0,2,2400,10,0,814,185,41,50,42,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,11028,31028,CKD,"Crooked Creek, AK",US,United States,0,35,1,2019,10,1,F,DU
2,0,1,1200,1,0,133,202,41,27,23,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,11028,31028,CKD,"Crooked Creek, AK",US,United States,0,35,1,2019,10,1,G,DU
3,0,1,1200,1,0,256,49,41,25,21,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,11028,31028,CKD,"Crooked Creek, AK",US,United States,0,35,2,2019,10,1,G,DU
4,0,1,1200,1,0,18,402,37,22,18,7S,20330,Ryan Air f/k/a Arctic Transportation,D,7S,Ryan Air f/k/a Arctic Transportation,1,5,10996,30996,CHU,"Chuathbaluk, AK",US,United States,12719,32719,KLG,"Kalskag, AK",US,United States,0,35,2,2019,10,1,F,DU

In [8]:
df_passenger.isnull().sum()

departures_scheduled     0
departures_performed     0
payload                  0
seats                    0
passengers               0
freight                  0
mail                     0
distance                 0
ramp_to_ramp             0
air_time                 0
unique_carrier           0
airline_id               0
unique_carrier_name      0
region                   0
carrier                  0
carrier_name             0
carrier_group            0
carrier_group_new        0
origin_airport_id        0
origin_city_market_id    0
origin                   0
origin_city_name         0
origin_country           0
origin_country_name      0
dest_airport_id          0
dest_city_market_id      0
dest                     0
dest_city_name           0
dest_country             0
dest_country_name        0
aircraft_group           0
aircraft_type            0
aircraft_config          0
year                     0
month                    0
distance_group           0
class                    0
data_source              0
dtype: int64

Nothing to do for this one. Can just import original csv on the analysis file

# DF flight test

In [17]:
df_test = pd.read_csv('/home/emile/Documents/data_bootcamp/w6/flights_test_orig.csv')

In [18]:
df_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,1577865600000,WN,WN,WN,5614,WN,N439WN,5614,14492,RDU,"Raleigh/Durham, NC",13198,MCI,"Kansas City, MO",1205,1350,N,165,1,904
1,1577865600000,WN,WN,WN,4600,WN,N475WN,4600,14492,RDU,"Raleigh/Durham, NC",13204,MCO,"Orlando, FL",1215,1405,N,110,1,534
2,1577865600000,WN,WN,WN,5626,WN,N7877H,5626,14492,RDU,"Raleigh/Durham, NC",13204,MCO,"Orlando, FL",1745,1935,N,110,1,534
3,1577865600000,WN,WN,WN,6380,WN,N717SA,6380,14492,RDU,"Raleigh/Durham, NC",13204,MCO,"Orlando, FL",710,850,N,100,1,534
4,1577865600000,WN,WN,WN,3694,WN,N7848A,3694,14492,RDU,"Raleigh/Durham, NC",13232,MDW,"Chicago, IL",610,715,N,125,1,632

In [25]:
df_test.isnull().sum()

fl_date                0
mkt_unique_carrier     0
branded_code_share     0
mkt_carrier            0
mkt_carrier_fl_num     0
op_unique_carrier      0
tail_num              39
op_carrier_fl_num      0
origin_airport_id      0
origin                 0
origin_city_name       0
dest_airport_id        0
dest                   0
dest_city_name         0
crs_dep_time           0
crs_arr_time           0
dup                    0
crs_elapsed_time       0
flights                0
distance               0
dtype: int64

In [22]:
df_test['op_unique_carrier'].unique()

array(['WN', 'AA', 'OO', 'UA', 'YX', 'YV', 'OH', 'B6', 'PT', 'CP', '9E',
       'DL', 'G7', 'MQ', 'F9', 'NK', 'G4', 'AS', 'AX', 'HA', 'QX', 'ZW',
       'EM', 'C5', 'EV'], dtype=object)

In [24]:
len(df_test['origin_city_name'].unique())

343